PORT=5000
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.example.mongodb.net/wayfare?retryWrites=true&w=majority
JWT_SECRET=wayfare_super_secret_jwt_key_2026
NODE_ENV=development
GOOGLE_MAPS_API_KEY=your_google_maps_platform_key
